Repository bcgov/bcparks.ca, pull requests merged in 2025-06, with the labels that each got.

#1630 CMS-823: Remove isFacilityOpen from filtering
  src/gatsby/src/templates/park.js
  src/gatsby/src/templates/site.js
  src/gatsby/src/utils/subAreaHelper.js
Labels: v.2.11.x

#1632 NOBUG: Update README.md
  README.md
Labels: v.2.13.x

#1635 CMS-1007: Fix facility and camping display issue
  src/gatsby/src/templates/park.js
  src/gatsby/src/templates/site.js
Labels: Main, hotfix
